<h1>タスク閲覧ページ</h1>

 タスク名<br>
  <%= @task.content %>
  
  
  <br>
  <%= link_to '編集', edit_task_path(@task) %> <br>
  
   
  <%= link_to 'このタスクを削除する。', @task, method: :delete, data: {confirm: '本当に削除してもよろしいでしょうか？' } %>


<%=link_to '一覧表に戻る', tasks_path %>